[class|="Flex-item"]{
	border: solid 1px black;
}
@media(min-device-width:769px){
body{
	background-color: wheat;
} 
.flex-container{
	display: flex;
	flex-wrap: wrap;
	flex-direction:row;
	align-items:center;
	justify-content: space-between;
	}
	.Flex-item-1{
		order:1;
		width: 100%;
	}
	.Flex-item-2 {
		width: 25%;
		order:2;
		border: solid 2px black;
	}
	.Flex-item-3{
		order:4;
		width: 25%;
		border: solid 2px black;
	}
	.Flex-item-4{
		order:3;
		width: 40%;
		border: solid 2px black;
	}
	.Flex-item-5{
		order:5;
		width: 100%;
	}
}

@media (min-device-width:481px) and (max-device-width:768px){
	body{
		background-color: rgb(192, 230, 255);
	}

	
	.flex-container{
	display: flex;
	flex-wrap: wrap;
	flex-direction:row;
	}
	
	.Flex-item-1{
		order:1;
		width: 100%
	}
	.Flex-item-2 {
		width: 24%;
		order:2;
		border: solid 2px black;
	}
	.Flex-item-3{
		order:4;
		width: 24%;
		border: solid 2px black;
	}
	.Flex-item-4{
		order:3;
		width: 50%;
		border: solid 2px black;
	}
	.Flex-item-5{
		order:5;
		width: 100%;
	}
}

@media (max-device-width:480px){
	body{
		background-color: pink;
	}
	[class|="Flex-item"]{
		border: solid 2px black;
	}
	.flex-container{
		display: flex;
		flex-wrap: wrap;
		flex-direction:column;
		
}
/*
.flex-container{
	display: flex;
	flex-direction:column;
   	
	
}

[class|="Flex-item"]{
	border: solid 1px black;
	margin: 5px;
	flex-basis: 150px;
}

.Flex-item-2{
	flex-shrink:2;
}
.Flex-item-4{
	flex-shrink:2;
}*/
